.lhs
    background-color: #0671C6
    display: flex
    justify-content: center
    color: #fff
    height: 100%
    max-height: 100%
    overflow: auto
    padding-bottom: 10px
    .lhs_list_menu_wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        .sidebar-bottom
            width: 100%
            ul
                width: 100%
                cursor: pointer
                li
                    width: 100%
                    padding: 10px
    ul.lhs_list_menu
        width: 100%
        cursor: pointer
        li
            padding: 10px
            border-bottom: 1px solid #0671C6
            a
                display: flex
                align-items: center
            &:hover
                background-color: #0CB4E9
            span
                flex: 1